<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs'); %>
	
  </head>
  <body>
	<div class="container mt-xl-5 mt-md-1">
		<h1><%= title %></h1>
		
		<form>
			<div class="form-group">
				<label for="where">Where do you want to check-in?</label>
				<div class="input-group">
					<input type="text" class="form-control" id="where" aria-describedby="where-help" placeholder="search for a place..." />
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button">Search</button>
					</span>
				</div>
				<small id="where-help" class="form-text text-muted">Enter the name or address of the place you want to check into.</small>
				
			</div>
		</form>
	</div>
    
	
	
	
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
